<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="site-url" value="www.microsoft.com"/>
    <add key="option1" value="Create user"/>
    <add key="option2" value="Existing user"/>
    <add key="option3" value="New Supplier"/>
    <add key="maxAGE" value="18"/>
  </appSettings>
</configuration>